.SummaryTitle {
  font-size: 24px;
}

.SummaryBody {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 40px;
}

.SummaryLine {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
