.Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Item + .Item {
  margin-top: 30px;
}

.ItemContent {
  display: flex;
  align-items: center;
}

.ItemImage {
  width: 90px;
  margin-right: 20px;
}

.ItemDeleteBtn {
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-right: 20px;
}

.itemDeleteBtn svg {
  width: 25px;
  height: 25px;
}

.ItemCategory {
  font-weight: 500;
  font-size: 12px;
  color: #9b9b9b;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.ItemName {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
